@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 102, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.link {
  color: rgb(59, 142, 222);
  font-weight: 500;
}

.link:hover {
  font-weight: 800;
  color: black;
}

.h-120 {
  height: 30rem;
}

.h-144 {
  height: 36rem;
}

.section-container {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  width: 100%;
}

.section {
  height: 360px;
  width: 95%;
}

.services-section {
  height: 500px;
}

.footer {
  background-color: rgb(59, 57, 61);
}

.embla {
  overflow: hidden;
  min-height: 480px;
  max-height: 100%;
  min-width: 1140px;
}

@media screen and (min-width: 1140px) {
  .embla {
    min-width: 1140px;
  }
}

.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;

  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  background-image: url("../public/zeal-banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.alignment-image {
  background-image: url("../public/zeal-content-alignment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.performance-image {
  background-image: url("../public/zeal-content-performance.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.maintenance-image {
  background-image: url("../public/zeal-content-maintenance.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.ppf-image {
  background-image: url("../public/zeal-content-ppf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

@media (min-width: 640px) {
  .hmore {
      height: 28rem !important;
  }
}

@media (min-width: 768px) {
  .hmore {
      height: 28rem !important;
  }
}

@media (min-width: 1024px) {
  .hmore {
      height: 34rem !important;
  }
}

@media (min-width: 1536px) {
  .hmore {
      height: 40rem !important;
  }
}

@media (min-width: 2000px) {
  .hmore {
      height: 52rem !important;
  }
}

.social-icon {
  height: 24px;
  width: 24px;
}

/* Testing list animations */
ul.animated-list li {
  list-style: none;
  position: relative;
  display: inline;
}

ul.animated-list li a {
  color: #333;
  text-decoration: none;
}

ul.animated-list li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: #333;
  transition: all 0.45s;
}

ul.animated-list li:hover:after {
  width: 100%;
  left: 0;
}

ul.animated-list li a:hover {
  text-decoration: none;
}

ul.animated-list li:hover {
  font-weight: bold;
}

a:hover {
  font-weight: bold;
}